In [31]:
import pandas as pd

df_wifi = pd.read_csv('privamov/privamov-wifi', sep='\t', nrows=10000000, header=None, names=['id', 'timestamp','wifi'], parse_dates=['timestamp'], index_col='timestamp')

In [32]:
df_wifi

                         id               wifi
timestamp
2014-10-06 12:56:50.500   1  84:a6:c8:a9:c2:d9
2014-10-06 12:56:50.510   1  9c:1c:12:24:b4:d1
2014-10-06 12:56:50.515   1  9c:1c:12:24:af:31
2014-10-06 12:56:50.516   1  9c:1c:12:2b:c3:f1
2014-10-04 19:43:14.986   1  20:e5:2a:5b:bf:e0
...                      ..                ...
2015-04-17 11:54:21.940   8  24:de:c6:49:ed:21
2015-04-17 11:54:21.941   8  00:0b:86:86:0f:60
2015-04-17 11:54:21.941   8  00:1a:1e:c4:7b:e1
2015-04-17 11:56:42.578   8  24:de:c6:9a:7b:c1
2015-04-17 11:54:21.941   8  00:1a:1e:c4:7b:e4

[10000000 rows x 2 columns]

In [33]:
df_wifi_timerange= df_wifi.between_time('19:00', '6:00')
df_wifi_timerange

                         id               wifi
timestamp
2014-10-04 19:43:14.986   1  20:e5:2a:5b:bf:e0
2014-10-13 19:39:22.456   2  00:26:44:f0:d7:bb
2014-10-13 19:39:22.467   2  42:01:40:59:9f:3f
2014-10-13 19:39:22.470   2  42:01:40:59:9f:3c
2014-10-13 19:39:22.479   2  62:26:44:f0:d7:b8
...                      ..                ...
2015-04-16 19:34:29.006   8  84:18:3a:1a:b2:48
2015-04-17 04:07:57.234   8  00:19:70:b5:d9:37
2015-04-17 04:07:57.234   8  40:5a:9b:53:36:13
2015-04-17 04:07:57.236   8  7e:bd:4c:4e:12:98
2015-04-17 04:07:57.236   8  d2:25:15:eb:24:2f

[3626376 rows x 2 columns]

In [34]:
df_wifi_update=pd.DataFrame({'count' : df_wifi_timerange.groupby( [ "wifi", "id"] ).size()}).reset_index()
df_wifi_update

                    wifi  id  count
0      00:01:36:13:9d:74  41      2
1      00:01:36:58:e0:54  22      2
2      00:01:8e:e4:dc:0a   8      2
3      00:01:e3:c9:79:9a  66      2
4      00:02:6f:32:d5:2c  41      6
...                  ...  ..    ...
90819  fe:e1:cb:4b:05:a6  41      2
90820  fe:e1:cb:4b:05:a6  67      3
90821  fe:e1:cb:4b:05:a7  67      3
90822  fe:e8:ef:75:19:35   1      2
90823  fe:f5:28:ca:c6:11   8      2

[90824 rows x 3 columns]

In [35]:
df_wifi_nb=pd.DataFrame({'count' : df_wifi_update.groupby( ["id"] ).size()}).reset_index()
df_wifi_nb

    id  count
0    1  11728
1    2   1640
2    5     18
3    6   2502
4    7    278
..  ..    ...
63  79     57
64  81   1304
65  82     24
66  83    412
67  84    637

[68 rows x 2 columns]

## On a compté pour chaque personne le nombre de réseaux wifi différents qu'ils croisent sur la plage horaire 19h-6h
## On peut trier par taille pour les classer du plus "extraverti" au plus "introverti"

In [36]:
df_wifi_nb_sorted = df_wifi_nb.sort_values(by=['count'], ascending=False)
df_wifi_nb_sorted

    id  count
0    1  11728
5    8   9750
36  44   8280
33  41   7081
54  67   5198
..  ..    ...
55  68     23
2    5     18
47  60     15
50  63     14
7   10     12

[68 rows x 2 columns]